	#nav-btn{
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
			padding: 20px;
			outline: none;
			border: none;
		}
		.log-btn{
      background-color: white;
      color: black;
      margin-inline: 15px;
      font-weight: 700;
      padding-inline: 20px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
    .log-btn:hover{
      background-color: yellow;
      color: white;
      margin-inline: 15px;
      font-weight: 700;
    }
    .navbar-brand{
      font-weight: 700;
    }
    .mobile{
      font-weight: 700;
    }
    .card img{
      width: 400px;
      height: 300px;
    }
       .foot{
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  color: white;

}
.footer-section{
  background-color:black;

}
.child-1, .child-2 p{
  font-size: 20px;
}
.child-2 b:hover{
  text-decoration: underline;
  cursor: pointer;
}
.child-3 li:hover{
  cursor: pointer;
  transform: scale(1.1);

}
.child-3 p{
  font-weight:500;
  cursor: pointer;
  transition: all ease-in 0.2s;
  text-decoration: none;
}
.child a{
  text-decoration: none;
  color: white;
}
.child a:hover{
  color: blue;
}

.icons i{
  font-size: 25px;
  margin: 0px 0px;
  cursor: pointer;
  color: white;
}
.icons i{
  margin: 0px 5px;
}
.icons i:hover{
  transform: scale(1.1);
}
.child{
  width:300px ;
  text-align: left;
  margin: 0px 30px;
}